<app-todo [heading] ="title" (addTodo)="receiveTodo($event)" [updatedTodoContent] = updatedTask>
 
  <ng-container *ngIf="todos.length else nolist">
    <ul>
        <li *ngFor="let todo of todos">{{todo.task}} <button (click)="updateTodo(todo.id, todo.task)">Edit</button><button (click)="clearTodo(todo.id, todo.task)">X</button></li> 
    </ul>
  </ng-container>

  <ng-template #nolist>
    <h4>No Todo is present</h4>
  </ng-template>

</app-todo>
<!-- <ul *ngFor="let todo of todoArr">
  <li>{{todo}}</li>
</ul> -->